.all, .allDisabled {
    display: grid;

    grid-template-columns: 50% 50%;
    grid-template-rows: 100%;
    grid-template-areas: 's f';
}

.allDisabled{
    pointer-events: none;
}


.system {
    height: 53.2rem;
    grid-area: s;
    overflow-y: auto;
    background-color: white;
}



.main>.item {
    position: relative;
    left: 70px;
    width: 80px;
}



.main {
    width: 70px;
    margin: 20px;
}

.main input{
    width: 70px;
}

.mainDisabled {
    width: 70px;
    margin: 20px;
    pointer-events: none;
}

.mainDisabled>.item {
    position: relative;
    left: 70px;
    width: 80px;
}

.none {
    color: black;
    opacity: 0.6;
}

.isactive {
    color: red;
}