* {
  margin: 0;
  padding: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}


input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

.all {
  display: grid;

  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  grid-template-areas: 's f';
}

.system {
  height: 53.2rem;
  grid-area: s;
  overflow: auto;
  background-color: white;
}

.fileContent {
  z-index: 1;
  word-break: break-all;
  grid-area: f;
  text-align: center;
}

.fileContent p {
  font-size: 20px;
  font-family: cursive;
  text-align: left;
  margin-left: 40px;
  margin-right: 40px;
  padding-top: 10px;
}

.fileChange {
  background-color: skyblue;
  position: absolute;
  border: 2px solid grey ;
  border-radius: 10px;
  right: 20%;
  top: 20%;
  z-index: 2;
  padding: 40px;
  width: 350px;
  height: 250px;
}

.inpGroup{
  position: relative;
  bottom: 20px;
}

.fileChange input {
  border: 2px solid blue;
  margin: 5px;
  border-radius: 5px;
  width: 200px;
  height: 30px;
}

.fileChange button {
  position: absolute;
  bottom: 1%;
  right: 1%;
}



.folder img {
  width: 80px;
  height: 50px;
  cursor: pointer;
}

.main>.item {
  position: relative;
  left: 70px;
  width: 80px;
}

.main {
  width: 70px;
  margin: 20px;
}

.inp {

  margin-left: 50%;
  width: 120px;
  top: 20px;
  height: 40px;

}

.inp input {
  border: 2px solid blue;
  border-radius: 5px;
  width: 100px;
  height: 30px;
  left: 20px;
  top: 10px;
  position: relative;
  left: 10px;
  font-size: 18px;
  
}

.inp button {
  
  position: relative;
  left: 120px;
  padding: 10px;
  margin: 10px;
  bottom: 30px;
  
}

.none {
  color: black;
  opacity: 0.7;
}

.isactive {
  color: red;
}

.changeName {
  font-size: 17px;
  position: absolute;
  top: 0.5%;
  right: 44%;
  color: red;
}

.changeName:hover {
  text-decoration: underline;
  color: red;
  cursor: pointer;
}

.fileChange {
  position: absolute;
  right: 20%;
  top: 20%;
  z-index: 2;
  padding: 40px;
  width: 350px;
  height: 250px;
}

.x {
  position: absolute;
  right: 1%;
  top: 1%;
  font-size: 20px;
  color: red;
}

.x:hover {
  cursor: pointer;
}

.quit {
  position: absolute;
  right: 1%;
  top: 0;
  font-size: 30px;
}

.quit:hover {
  cursor: pointer;
  color: red;
  text-decoration: underline;
}

.createFile{
  position: relative;
  left: 97%;
  bottom: 130%;
}

.delete{
  position: relative;
  bottom: 150%;
  left: 52%;
}